<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<footer class="site-footer">
    <div class="container" id="confoot">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="footer-heading mb-4">About Swe-society</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="text-left">Stay Connected</h3>

                <div class="text-left">

                    <a href="https://www.facebook.com/swesocietysust/"><i
                            class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://www.youtube.com/channel/UC_Yl0PkhLDe17-LWUHOaCUA"><i
                            class="fa fa-youtube-square fa-3x social " style="color: #dd0707;"></i></a>
                    <a href="https://www.linkedin.com/company/swe-society/"><i
                            class="fa fa-linkedin-square fa-3x social" style="color: #125d74;"></i></a>

                </div>
            </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p> Copyright &copy;SWE-SOCIETY,SUST </p>
                </div>
            </div>
        </div>
    </div>
</footer>