
  <div class="toolbar" role="banner">
    <a href="/home">
      <img style="margin-left: 20%;" width="90" alt="SWE Society Logo" src="../assets/image/logo1.png"/>
    </a>
    
    <ul>
        <li class="nav-item">
            <a href="/home">Home</a>
        </li>

        <li class="nav-item">
            <a href="/blog">Blog</a>
        </li>

        <li class="nav-item">
            <a href="">Feeds</a>
        </li>
        <li class="nav-item"> 
            <a href="">Batch</a>
        </li>
        <li class="nav-item">
            <a href="">Committies</a>
        </li>
        <li class="nav-item">
            <a href="">About</a>
        </li>

        <li class="nav-item">
            <a routerLink = "/login" >Login</a>
        </li>
    </ul>
    
    
  
  </div>

 