<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Libraries font Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="head">

        <div class="container">
            <div class="headingtext">
                <img src="../../assets/image/logo.png" width="350px">
                <h4>SOFTWARE ENGINEERING SOCIETY<br></h4>
                <h5>Software Engineering,</h5>
                <h5>Institute of Information and Communication Technology (IICT), SUST</h5>
            </div>
        </div>
    </header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <h3 style="color:black">SWE SOCIETY</h3>
            <p style="color:black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </div>
    <section id="feature">
        <div class="container">
            <h5 class="titleh2">RECENT FEEDS</h5>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="nav-link" href="#">
                        <div class="wrap-item text-center">
                            <div class="item-img1">
                                <img src="../../assets/image/post_1.jpg">
                            </div>
                            <h3 class="pad-bt15">1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="nav-link" href="#">
                        <div class="wrap-item text-center">
                            <div class="item-img1">
                                <img src="../../assets/image/post_2.jpg">
                            </div>
                            <h3 class="pad-bt15">2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="nav-link" href="#">
                        <div class="wrap-item text-center">
                            <div class="item-img1">
                                <img src="../../assets/image/post_4.jpg">
                            </div>
                            <h3 class="pad-bt15">3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="nav-link" href="#">
                        <div class="wrap-item text-center">
                            <div class="item-img1">
                                <img src="../../assets/image/post_5.jpg">
                            </div>
                            <h3 class="pad-bt15">4</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>