<body>
	<div class="main-w3layouts wrapper">
		<h1 style="margin-top: 2%;">SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password"
						required="">
					<input class="text" type="text" name="reg" placeholder="Registration No" required="">
					<div class="wthree-text" style="margin-top: 3%;">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
	</div>
</body>